{% extends 'base.html' %}
{% load static %}


{% block title %}
about me
{% endblock %}

{% block main %}
<h2 class="text-muted text-center">
	关于我
</h2>
<p>
	<p  class="bg-dark text-white lead">杭州某双非大三电子狗.</p>
	<p  class="bg-dark text-white lead">实在太菜，闭关修炼中。。。</p>
	<p  class="bg-dark text-white lead">希望能找到满意的暑期实习offer，意向后端开发(python/go)。</p>
	<p  class="bg-dark text-white lead">本项目纯粹练手用，因时间紧迫，还要忙着复习刷题备战春招，故自己也能感觉到代码有很多很多问题。等有offer以后，一定好好重构(flag)</p>
	<hr>
	<ul class="bg-dark text-white lead">
		<h2 class="text-muted text-center">
			联系我
		</h2>
		<li><a href="https://github.com/GunnerX">Github</a></li>
		<li><a href="https://gunnerx.github.io">blog</a></li>
		<li>email: 386741589@qq.com</li>
	</ul>
</p>
{% endblock %}